<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.softfun_xmpp"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".application.GlobalContext"
        android:allowBackup="false"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!-- 要想在桌面不显示图标，只需注释掉APP入口Activity中的下面这句即可，或者把下面的LAUNCHER改成DEFAULT也行 -->
                <category android:name="android.intent.category.LAUNCHER"/>
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            </intent-filter>

            <intent-filter>
                <action android:name="com.softfun_xmpp.action"/>
                <data
                    android:host="com.softfun_xmpp"
                    android:pathPrefix="/xmpp"
                    android:port="1702"
                    android:scheme="softfun"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <!-- 登录 -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"/>
        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.softfun_xmpp.activity.MainActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 申请视频 -->
        <activity
            android:name=".activity.VideoChatScreen"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
            <intent-filter>
                <action android:name="com.softfun_xmpp.activity.VideoChatScreen"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--唤醒普通窗口-->
        <activity
            android:name=".activity.JumpActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
        </activity>
        <!-- 联系人内容提供者 -->
        <provider
            android:name=".provider.ContactsProvider"
            android:authorities="com.softfun_xmpp.provider.ContactsProvider"
            android:exported="false"/>
        <!-- 聊天内容提供者 -->
        <provider
            android:name=".provider.SmsProvider"
            android:authorities="com.softfun_xmpp.provider.SmsProvider"
            android:exported="false"/>
        <!-- 群组内容提供者 -->
        <provider
            android:name=".provider.GroupProvider"
            android:authorities="com.softfun_xmpp.provider.GroupProvider"
            android:exported="false"/>


        <!-- 连接服务 -->
        <service
            android:name=".connection.IMService"
            android:exported="false"/>
        <!-- 私聊 -->
        <activity
            android:name=".activity.ChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <!-- 群聊 -->
        <activity
            android:name=".activity.MultiChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/MyMaterialTheme"/>

        <!-- 选择我的好友 -->
        <activity
            android:name=".activity.MyFriendsListActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>

        <!-- 注册 -->
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <!-- 找回密码 -->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <!-- 对话框 -->
        <activity
            android:name=".activity.DialogActivity"
            android:exported="false"
            android:theme="@style/DialogTheme"/>
        <!-- 添加群组 -->
        <activity
            android:name=".activity.SelectGroupTypeActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 创建群组添加信息 -->
        <activity
            android:name=".activity.InputGroupInfoActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 添加好友 -->
        <activity
            android:name=".activity.AddFriends"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <!-- 好友资料 -->
        <activity
            android:name=".activity.FriendsProfile"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 通用web浏览 -->
        <activity
            android:name=".activity.WebFrameActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 个人中心 -->
        <activity
            android:name=".activity.MyProfile"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 群资料 -->
        <activity
            android:name=".activity.MultiChatProfile"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- 编辑个人信息 -->
        <activity
            android:name=".activity.EditItemActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 编辑群信息 -->
        <activity
            android:name=".activity.EditMultiItemActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 修改密码 -->
        <activity
            android:name=".activity.EditPasswordActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 系统设置 -->
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 意见反馈 -->
        <activity
            android:name=".activity.FeedBackActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 关于我们 -->
        <activity
            android:name=".activity.AboutUsActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 搜索结果 -->
        <activity
            android:name=".activity.SearchResultForUsers"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 群成员 -->
        <activity
            android:name=".activity.MultiMemberActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!--单选页面-->
        <activity
            android:name=".activity.SelectOneMemberActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 专家评分 -->
        <activity
            android:name=".activity.EvaluateActivity"
            android:exported="false"
            android:theme="@style/DialogTheme"/>
        <!-- 确定是否添加此好友 -->
        <activity
            android:name=".activity.AddFriendsAction"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 确定是否加入此群 -->
        <activity
            android:name=".activity.AddGroupsAction"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 图片浏览 -->
        <activity
            android:name=".gallery.Gallery"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fanzhang.softfun.gallery.openGallery"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 用于浏览web的图片，使用了开源的、可自由手势控制图片 -->
        <activity
            android:name=".components.ImageViewPage"
            android:exported="false"/>
        <!-- 开源组件,图片拾取组件 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <!-- 农技110-论坛 -->
        <activity
            android:name=".bbs.BBSIndexActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 农技110-发表新帖 -->
        <activity
            android:name=".bbs.BBSNewActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 农技110农资商讯 -->
        <activity
            android:name=".bbs.INFOActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!--柑橘资讯-->
        <activity
            android:name=".bbs.INFOOrangesActivity"
            android:exported="false"
            android:theme="@style/MyMaterialThemeWithMyActionBar"/>
        <!-- 专家所属机构列表 -->
        <activity
            android:name=".activity.ExpertActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 专家人员列表 -->
        <activity
            android:name=".activity.ExpertListActivity"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>
        <!-- 专家资料 -->
        <activity
            android:name=".activity.ExpertProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 搜索专家 -->
        <activity
            android:name=".activity.ExpertSearchActiviy"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <!-- 搜索专家结果 -->
        <activity
            android:name=".activity.SearchResultForExpert"
            android:exported="false"
            android:theme="@style/MyMaterialTheme"/>


        <!-- 图片裁剪 -->
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:exported="false"/>


        <!--APPRTC-->
        <activity
            android:name="org.appspot.apprtc.ConnectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="org.appspot.apprtc.SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="org.appspot.apprtc.CallActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="fullUser"
            android:theme="@style/CallActivityTheme">
            <intent-filter>
                <action android:name="org.appspot.apprtc.test"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="120.76.215.22"
                    android:port="8080"
                    android:scheme="https"/>
                <data
                    android:host="120.76.215.22"
                    android:port="8080"
                    android:scheme="http"/>
            </intent-filter>
        </activity>





        <!-- opentok -->
        <!--<activity-->
        <!--android:name="com.opentok.android.demo.opentoksamples.MultipartyActivity"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.opentok.android.demo.opentoksamples.OpenTokSubclassing"/>-->

        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.opentok.android.demo.opentoksamples.UIActivity"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.opentok.android.demo.opentoksamples.OpenTokHelloWorldUI"/>-->

        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.opentok.android.demo.opentoksamples.HelloWorldActivity"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.opentok.android.demo.opentoksamples.OpenTokHelloWorld"/>-->

        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>